<%- include('partials/header'); -%>
<br><br><br><br>

<div class="container">
    <h1 class="welcome">Oops!</h1>
    <p class="intro">
        <%=errorMessage%>  <a href="<%=redirectURL%>">Click here </a> to <%=redirectInstruction%> .
    </p>
    <br>
</div>

<%- include('partials/footer'); -%>